.curve {
    color: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 3rem 2rem;
    width: 100%;
    z-index: 2;
    border: 1px solid red;
    
    &::before {
      content: '';
      display: block;
      background: radial-gradient(ellipse at center, rgba(0,0,0,.1) 25%,rgba(0,0,0,1) 100%);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-radius: 150vw;
      width: 300vw;
      height: 300vw;
      z-index: -1;
    }
  }